
NET "sys_clk"  CLOCK_DEDICATED_ROUTE=TRUE;
NET "sys_clk" LOC = P180  | IOSTANDARD=LVCMOS33; 
NET "sys_rst_n" LOC = P43 | IOSTANDARD=LVCMOS33;
#UART to FPGA Pin for 3.3V
NET "rx" LOC = P196 | IOSTANDARD=LVCMOS33;  #ML1
NET "tx" LOC = P197 | IOSTANDARD=LVCMOS33;

#to MAX3232 for 5V
#NET "rx"        LOC = P165   |   IOSTANDARD = LVCMOS33;
#NET "tx"        LOC = P166   |   IOSTANDARD = LVCMOS33;

#SD
NET "sd_miso" LOC = P156 | IOSTANDARD=LVCMOS33;   #SD_D0

NET "sd_clk"  LOC = P150 | IOSTANDARD=LVCMOS33;
NET "sd_cs_n" LOC = P154 | IOSTANDARD=LVCMOS33;   #SD_D3
NET "sd_mosi" LOC = P152 | IOSTANDARD=LVCMOS33;   #SD_CMD
