#*************************************************************************
#*  Malogic ASIC Fresh Board 上海零义科技有限公司                        *
#*  Malogic UART2SD                                               
#*  Top File : uart2sd.ucf                                                 *
#*  Author: Jude                                                         *
#*  Revision 0.1                                                         *
#*  Date     2024/01/26                                                   *
#*  Email : jude126m@126.com                                             *
#*  淘宝店铺：https://item.taobao.com/item.htm?ft=t&id=717924064672      *
#*  此代码版权归上海零义科技有限公司及作者所有，可用于个人学习、研究,    *
#*  以及其他非商业性或非盈利性用途，转载请保证其完整性。                 *
#*  源代码来源于internet,经修改成为此代码。                              *
#*************************************************************************
NET "sys_clk"  CLOCK_DEDICATED_ROUTE=TRUE;
NET "sys_clk" LOC = P180  | IOSTANDARD=LVCMOS33; 
NET "sys_rst_n" LOC = P43 | IOSTANDARD=LVCMOS33;
#UART to FPGA Pin for 3.3V
NET "rx" LOC = P196 | IOSTANDARD=LVCMOS33;  #ML1
NET "tx" LOC = P197 | IOSTANDARD=LVCMOS33;

#to MAX3232 for 5V
#NET "rx"        LOC = P165   |   IOSTANDARD = LVCMOS33;
#NET "tx"        LOC = P166   |   IOSTANDARD = LVCMOS33;

#SD
NET "sd_miso" LOC = P156 | IOSTANDARD=LVCMOS33;   #SD_D0

NET "sd_clk"  LOC = P150 | IOSTANDARD=LVCMOS33;
NET "sd_cs_n" LOC = P154 | IOSTANDARD=LVCMOS33;   #SD_D3
NET "sd_mosi" LOC = P152 | IOSTANDARD=LVCMOS33;   #SD_CMD